:root {
  --font-family-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  /*--c-brand: #4569d4;*/
  --code-bg-color: #f9fafb;
  --code-line-height: 24px;
  --code-font-size: 14px;
  --code-font-family: var(--font-family-mono);
}
