:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;

  --vp-code-block-bg: #f9fafb;
}

html.dark {
  --vp-code-block-bg: var(--vp-c-bg-alt, #161618);
}

.demo-block .xl-button {
  margin: 0 10px 10px 0;
}


/* vp-doc style */
.vp-doc table {
  display: table !important;
  width: 100%;
}

.vp-doc tr:nth-child(2n) {
  background-color: transparent !important;
}

.vp-doc th {
  color: unset !important;
}
